In [ ]:
liste1 = [1, 3, 8, 5]
def kare_al(x) :
  return x * x
bos_liste = []
for i in liste1 :
  bos_liste.append(kare_al(i))
print(bos_liste)

[1, 9, 64, 25]

In [ ]:
def my_function(a, b):
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse
my_function(10, 20)

22.360679774997898

In [ ]:
def who(first, last) :  # 'first' and 'last' are the parameters(or variables)
    print('Your first name is :', first)
    print('Your last name is :', last)

who('Guido', 'van Rossum')  # 'Guido' and 'van Rossum' are the arguments
print()
who('Marry', 'Bold')  # 'Marry' and 'Bold' are also the arguments

Your first name is : Guido
Your last name is : van Rossum

Your first name is : Marry
Your last name is : Bold

In [ ]:
def letter_count(s):
  dic_letter = {}
  for i in s:
    if i in dic_letter :
      dic_letter[i] += 1
    else:
      dic_letter[i] = 1
  print(dic_letter)
letter_count("hippo runs to us!")

{'h': 1, 'i': 1, 'p': 2, 'o': 2, ' ': 3, 'r': 1, 'u': 2, 'n': 1, 's': 2, 't': 1, '!': 1}

In [ ]:
def city(continent = "USA", city = "Wisconsin") :
  print(continent,  "in", city)
city("Europe", "Austria")

Europe in Austria

In [ ]:
def fruiterer(fruit1, fruit2) :
  print("I wanna get", fruit2, "and", fruit1)
fruiterer("banana", "orange")

I wanna get orange and banana

In [ ]:
def meyve(*meyve1) :
  print("ben {} almak istiyorum".format(meyve1))
  for i in meyve1 :
    print("-", i)
meyve("muz", "Elma", "portakal")

ben ('muz', 'Elma', 'portakal') almak istiyorum
- muz
- Elma
- portakal

In [ ]:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [ ]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
def brothers(bro1, bro2, bro3) :
  print("here are the brothers")

  print(bro1, bro2, bro3)


family = ["mesut", "omer", "burhan"]  
brothers(*family)

here are the brothers
mesut omer burhan

In [ ]:
def san(x):
  print(x+1)
  x=-2
  x=4
san(12)

13

In [ ]:
def foo(fname, val):
  print(fname(val))
foo(max, [1, 2, 3])
foo(min, [1, 2, 3])

3
1

In [ ]:
def make_sentence(**kwargs):
    result = ""
    # Iterating over the Python kwargs dictionary
    for i in kwargs.values():
        result += i
    return result

print(make_sentence(a="I ", b="love ", c="Clarusway!"))

I love Clarusway!

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [ ]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [ ]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= list(filter(lambda x : x % 2 != 0 , number_list)) 
print(result)

[1, 3, 5, 7, 9]

In [ ]:
def front_back(word):
    word = word.replace(word[0], word[len(word)+1])
    return word

front_back("mesut")

IndexError: ignored

In [ ]:
a = "mesut"
print(len(a))

5

In [ ]:
def front_back(word):
    
  empty_string = ""
  empty_string += word[len(word) - 1] + word[1:len(word)-1] +word[0]
  return empty_string
front_back("mesut")

'tesum'

In [ ]:
def front_back(word):
    if word[0] == word[len(word) -1] :
        return word[0]
    else :
        empty_string = ""
        empty_string += word[len(word) - 1] + word[1:len(word)-1] +word[0]+ " "
        return empty_string

In [ ]:
def my_sum(*arg) :
  sum = 0
  k = list(arg)
  for x in k :
    sum += x
  return sum
my_sum(1, 2, 3, 4)

10